.grandad{
    background-color: white;
}


.bigBoy{
    background-color:#D3D3D3;
    margin: 50px;
    font-size: 16px;
}
.parent{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
   
}
.title{
    flex:1;
    margin: 30px;
    text-align: center;
    font-size: 22px;
    border-bottom: 3px solid rgba(255, 196, 0, 0.418); 
}

.trackDeets { 
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    
}
.trackName {
    flex: 1;
    padding: 10px;
    text-align: left;
    border-bottom: 1px outset rgba(28,110,164,0.54); 
    text-align: center;
}